body{
    background-color: whitesmoke;
    margin: 50px 40px;
    box-sizing: border-box;
}

.header{
    background-color: rgb(40, 20, 51);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 50px 220px;

}
.menu-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu-header .logo{
   font-size: 2em;
   font-weight: 100;
   
   height: 100%;
   margin: 0;
   text-transform: uppercase;
     
}

.date{
    text-align: right;
    color: rgb(187, 174, 156);
}
 
.menu ul li{
    display: inline;
    padding: 8px;
     
}
.menu ul li a{
    text-decoration: none;
    color:white ;
}
.header-info{
    text-align: center;
    padding-top:30px;
}

.header-info h2{
    margin: 0;
    font-weight:100;
    color: rgb(187, 174, 156);
}
.header-info p{
    margin: 0;
    padding: 0px 100px;
    font-weight: 100;
}
.rtn-btn{
   margin-top: 25px;
   text-transform: uppercase;
   padding: 15px;
   background: transparent;
   border-color: white;
   color: white;
   border-radius: 5px;
}
.boxes{
    display: flex;
    margin: 20px 0px;
    padding: 0px 290px;
}
.box{
    margin: 15px;
}

.boxes img{
    width: 100%;
    height: 100%;    
}

.boxes .img{
   height: 200px;
   width: 200px;
}

.boxes .img p{
  margin: 0px;  
}

.boxes .p{
    padding-top: 20px;
    font-size: 11px;  
}
.footer{
    background-color: rgb(40, 20, 51);
    padding: 30px 220px;
    display: flex;
    justify-content: space-between;
    color: rgb(187, 174, 156);
    font-size: small;
    
}

/* Speakers page*/

.speakers{
    padding: 0px 310px;
    text-align: center;
    background-color: rgb(155, 197, 165);   
}
.speakers-p-first{
    margin: 0;
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: 20px;
    font-size: xx-large;
}
.speakers-p-second{
    margin: 0;
    padding-bottom: 30px;
    
}

.speakers-info{
    padding: 30px 150px;
}
.speaker-information{
    margin-right: 90px;

}

.speaker-information .speaker-name{
   font-size: 20px;
   margin: 0;
}

.speaker-information .speaker-title{
    font-size: 20px;
    margin-top: 5px;
    color: rgb(155, 132, 103);
 }

 .speaker-information .speaker-about{
    font-size: 20px;
 
    color: rgb(155, 132, 103);
 }

.speaker-info{
    display: flex;
    flex-direction: row;
     
}


.speaker-img{
    width: 1350px;
    height: 200px;
    margin-top: 80px;
    background-color: white;
    border: 0.5px solid white;
    box-shadow: 10px black;
    border-radius: 10px;
 
}

.pass-form{
    width: 1350px; 
}

.speaker-img img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    /* margin-top: -50%; */
    /* justify-content: center;
    justify-items: center; */
}

.schedule-info{
    padding: 30px 250px;
    text-align: center;
}
.hobbies tr td h6,p{
    margin: 0;
}
 
.conf-reg{
    padding: 30px 150px;
}

.conference-details{
    display: flex;
    flex-direction: row;
}
.conference-information{
    margin-right: 15px;
}

.conference-name{
    font-size: 20px;
    margin: 0px;
}
.conference-amount{
    margin-bottom: 15px;
    margin-top: 5px;
}
 
.speaker-about{
    font-size: 15px;
}

.ul ul{
    padding: 15px;
}

form  .form-div{
  margin-top: 15px;
}

.pur-btn{
    margin-top: 25px;
    text-transform: uppercase;
    padding: 12px;
    color: white;
    border-radius: 5px;
    background-color:grey;
 }
 .form-div input{
    height: 25px;
    width: 75%;
 }

 .form-div select{
    height: 25px;
 }
 .form-div textarea{
    height: 45px;
    width: 75%;
 }